


<div class="container">
<div class="row headline"><!-- Begin Headline -->

        <div class="row headline"><!-- Begin Headline -->

        <!-- Slider Carousel
        ================================================== -->
        <div class="span8">
            <div class="flexslider">
              <ul class="slides">
                <%= @movies.each do |movie| %>
                <li><a href="<%= movie_path(movie) %>"><img src="<%= movie.poster_image %>"></a></li>
                <% end %>
              </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span4">
            <h3>This is Wonderful.</h3>
            <p class="lead">18+ html pages crafted with love! Responsive Design. BUY ME!</p>
        </div>
    </div><!-- End Headline -->

    </div>
</div>
</div>

</div> <!-- End Container -->


