


<div class="container">

    <div class="row headline"><!-- Begin Headline -->



        <!-- Slider Carousel
        ================================================== -->
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span5">
            <div class="flexslider">
              <ul class="slides">
                <%= @movies.each do |movie| %>
                <li><a href="<%= movie_path(movie) %>"><img src="<%= movie.poster_image %>" class="thumbnail-movie"></a></li>
                <% end %>
              </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span5" align="right">
            <!-- <h3>Track Your Trailer</h3> -->
            <p class="subheadline">-Find a movie you like.<br>-<em>Track</em> it.<br>-We'll let you know when it's out!</p>
        </div>






</div>
</div>
</div>

</div> <!-- End Container -->


