    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container">

        <div class="row header"><!-- Begin Header -->


            <!-- Logo
            ================================================== -->
            <div class="span6 logo">
                <h1><a href="<%= root_path %>">TRACK YOUR TRAILER</a></h1>
                <!-- <a href="index.htm"><%#= image_tag "wonder-logo.png" %><alt=""></a> -->
            </div>
