/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require ../../../vendor/assets/stylesheets/bootstrap-responsive.css
 *= require ../../../vendor/assets/stylesheets/bootstrap.css
 *= require ../../../vendor/assets/stylesheets/flexslider.css
 *= require ../../../vendor/assets/stylesheets/prettyPhoto.css
 *= require ../../../vendor/assets/stylesheets/style-ie.css
 *= require ../../../vendor/assets/stylesheets/styles.css
 *= require_self
 *= require_tree .
 */



.flexslider {
  width: 300px;
  height:450px;
  margin: 0 auto;
}

.alert {
  display:none;
}

.subheadline {
  line-height:28px;
  margin: 20px 0px 30px 0px;
  font-family: "Arvo";
  font-weight:700;
  font-size:20px;
  color:#858988;
}

.span4.gallery-item {
  width: 300px;
  display: block;
}

.thumbnail-movie {
  width: 300px;
  height:450px;
}

.thumbnail-movie-show {
  width: 400x;
  height:600px;
}

.gallery-hover-3col.hidden-phone.hidden-tablet {
  width: 300px;
  height:450px;
}

.profile-movie {
  width: 300px;
  height:450px;
  align: right;
}

.showpagetext {
  line-height:28px;
  margin: 20px 0px 30px 0px;
  font-family: "Arvo";
  font-weight:200;
  font-size:18px;
  color:#858988;
}

.span12.gallery {
  margin: 0 auto;
  text-align: center;
}

.span12.gallery-single {
  margin: 0 auto;
  margin-left: 15%;
}

.span12 h2 {
  margin: 0 auto;
  margin-left: 15%;
}

@media only screen and (max-width: 760px) {
  .container, .row {
    width: 90%;
  }

  .row.header {
    margin-right: 0 !important;
    width: 100%;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .navigation {
    text-align: center;
    width: 100%;
    float: none;
    margin: 0;
  }

    .navbar {

    }

  .footer-col {
    overflow: visible;
    width: 90% !important;
  }

    .footer-col .left,  .footer-col .span6 {
      white-space: normal;
      word-wrap: normal;
      word-break: normal;
    }
    .footer-col .span6 { width: 100%; }

    h5.title-bg {
      width: 50%;
    }

    .row.gallery-row {
      width: 90%;
    }

}

@media only screen and (max-width: 640px) {
  .gallery {
    text-align: center;
    width: 300px;
    margin: 0;
  }

.span12 h2 {
  margin-left: 1%;
  white-space: normal;
  word-wrap: normal;
  word-break: normal;
}
}

