/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require ../../../vendor/assets/stylesheets/bootstrap-responsive.css
 *= require ../../../vendor/assets/stylesheets/bootstrap.css
 *= require ../../../vendor/assets/stylesheets/flexslider.css
 *= require ../../../vendor/assets/stylesheets/prettyPhoto.css
 *= require ../../../vendor/assets/stylesheets/style-ie.css
 *= require ../../../vendor/assets/stylesheets/styles.css
 *= require_self
 *= require_tree .
 */

.flexslider {width: 300px; height:450px; margin: 0 auto;}

.alert {display:none;}

.subheadline {line-height:28px; margin: 20px 0px 30px 0px; font-family: "Arvo"; font-weight:700; font-size:20px; color:#858988;}

.span4.gallery-item {width: 300px;  display: block;}
.thumbnail-movie {width: 300px; height:450px;}
.gallery-hover-3col.hidden-phone.hidden-tablet {width: 300px; height:450px;}



